* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2d8ab8;
  font-weight: bold;
}

body {
  background: linear-gradient(to bottom, #fffa73, #2d8ab8, #fffa73);
  color: white;
  /** NUESTRO BLOG */
  /** NUESTRAS MARCAS */
}
body img {
  max-width: 100%;
}
body .tarjetas_categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  gap: 80px;
  margin: auto;
}
body .tarjetas_categorias .card {
  width: 90%;
}
body .ofertas_home {
  background-color: black;
}
body .seccion_ofertas .todas_ofertas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body .seccion_ofertas .todas_ofertas .card_personalizada {
  position: relative;
}
body .seccion_ofertas .todas_ofertas .card_personalizada .discount-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: #fff;
  padding: 2%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transform-origin: center;
  z-index: 10;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
body .seccion_ofertas .todas_ofertas .card_personalizada .total_precio {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 5%;
}
body .productos_mas_vendidos .todo_mas_vendido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body .productos_mas_vendidos .todo_mas_vendido .card_personalizada {
  position: relative;
}
body .productos_mas_vendidos .todo_mas_vendido .card_personalizada .discount-tag_vendido {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: #fff;
  padding: 2%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transform-origin: center;
  z-index: 10;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
body .productos_mas_vendidos .todo_mas_vendido .card_personalizada .total_precio {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 5%;
}
body .nuestro_blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}
body .nuestro_blog .carousel-inner {
  border: 4px solid black;
  border-radius: 40px;
}
body .nuestras_marcas .marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  margin: 40px;
}
body .nuestras_marcas .marcas img {
  border-radius: 20px;
  border: 4px solid #2d8ab8;
}
body .informacion_general .logo_y_modtech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5%;
}
body .informacion_general .logo_y_modtech .logo {
  margin-left: 5%;
}
body .informacion_general .logo_y_modtech .logo img {
  width: 40%;
  border-radius: 40px;
}
body .informacion_general .logo_y_modtech .modtech {
  text-align: center;
}
body .informacion_general .redes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  margin: auto;
  gap: 15%;
  margin-bottom: 5%;
}
body .informacion_general .todo {
  display: grid;
  gap: 20px;
  text-align: center;
}
body .formas_pago {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10%;
  width: 70%;
  margin: auto;
}

/** 
media queries 
*/
@media (max-width: 576px) {
  .nuestro_blog {
    grid-template-columns: 1fr !important;
  }
}
@media (min-width: 576px) {
  .nuestro_blog {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 768px) {
  .tarjetas_categorias {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .tarjetas_categoriashover {
    transition: all 300ms;
    transform: scale(1.05);
  }
  .productos_mas_vendidos .todo_mas_vendido {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .seccion_ofertas .todas_ofertas {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .informacion_general .todo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
@media (min-width: 992px) {
  #carousel-inner {
    height: 300px;
  }
  #carouselExampleCaptions .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .tarjetas_categorias {
    width: 80%;
  }
  .productos_mas_vendidos .todo_mas_vendido {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .seccion_ofertas .todas_ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .nuestras_marcas .marcas {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .informacion_general .logo_y_modtech {
    margin-left: 6%;
    margin-bottom: 2% !important;
    padding: 0;
  }
  .informacion_general .logo_y_modtech .logo {
    width: 30%;
  }
  .informacion_general .logo_y_modtech .todo {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .informacion_general .redes > div {
    width: 40%;
  }
  .informacion_general .todo {
    grid-template-columns: repeat(4, 1fr);
  }
  .informacion_general .formas_pago {
    grid-template-columns: repeat(4, 1fr) !important;
    padding: 2%;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .nuestras_marcas .marcas {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .productos_mas_vendidos .todo_mas_vendido {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .seccion_ofertas .todas_ofertas {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .seccion_ofertas .informacion_general .logo_y_modtech .logo {
    width: 30%;
  }
  .seccion_ofertas .informacion_general .redes > div {
    width: 50%;
  }
}/*# sourceMappingURL=home.css.map */