.container{
    width: 90%;
    padding: 10%;
    background-color: #2d8ab8;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .container{
        img{
            width: 90%;
        }
    }
}


