// Variables
$primary-color: #343a40;
$secondary-color: #ffffff;
$font-size: 16px;
$font-weight-bold: bold;
$nav-width: 25%; // Ancho del menu en pantallas medianas

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Barra de búsqueda
.buscar {
    form {
        display: flex;
    }

    .form-control {
        width: 80%;
    }
}

// estilos toggle carrito
.carrito_toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: white;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1050;
    color: black;


    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        border: none;
        background: transparent;
        cursor: pointer;
        color: red;
    }

    .close-btn:hover{
        color: black;
    }
}

// Estilos de usuario y carrito
.usuario_carrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .user img,
    .carrito img {
        max-height: 40px;
    }
}

// Estilos de los links de la barra de navegación
.navbar-nav {
    .nav-link {
        font-size: $font-size;
        padding-left: 15px;
        padding-right: 15px;

        &.active {
            font-weight: $font-weight-bold;
        }
    }
}

// Menú deslizante
.slide-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    transition: left 0.3s ease;
    z-index: 1050;

    &.open {
        left: 0;
    }
}

// Cuando el menú se abre (hamburguesa)
.navbar-toggler {
    &.collapsed + .navbar-collapse {
        left: 0; // Desliza hacia la derecha
    }
}

// Media Queries - Responsivas

// Tamaño pequeño (hasta 576px)
@media (max-width: 576px) {
    .buscar {
        order: 3;
        width: 100% !important;
        margin-top: 2%;
    }
}

// Tamaño mediano (desde 792px)
@media (min-width: 792px) {
    .slide-menu {
        left: -100%; // escondemos menu
        width: $nav-width;
    }

    .carrito_toggle {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .carrito_toggle{
        width: 30%;
    }
}
