.login {
    text-align: center;
    margin: 5%;
    background-color: rgb(16, 126, 153);
    border-radius: 20px;
    padding: 5%;
    img {
        margin: auto;
        border-radius: 20px;
        border: 4px solid black;
    }

    h4,h2 {
        font-weight: bold;
        color: black;
    }

    // media queries
    @media (min-width: 576px) {
        margin: 10%;
    }

    @media (min-width: 768px) {
        margin: 15%;
    }

    @media (min-width: 1200px) {
        margin-left: 34%;
        margin-right: 34%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
